{% if not plain %}
<html>

<body>
  <p>Hi {{USER.userName}},<br>
    you can change password for your K-Cube account by clicking:<br>
    <button ><a href="{{url_for('user.activate', hash=hash) }}">activate</a></button>
    {{ host +  url_for('user.changePassword', hash=hash, userId=userId) }}
  </p>
</body>

</html>
{% else %}
Hi {{USER.userName}},
you can change password for your K-Cube account by visiting following website:
{{ host + url_for('user.changePassword', hash=hash, userId=userId) }}
{% endif %}