{% extends "layout.html" %}
{% import 'layout.html' as layout with context %}
{% block VueComponent %}
<v-card flat>
    <v-form ref="control">
        <v-container>
            <v-row>
                <v-text-field v-model="courseCode" :rules="courseCodeRules" label="Cource Code" required>
                </v-text-field>
            </v-row>
            <v-row>

                <v-text-field v-model="courseName" :rules="courseNameRules" label="Course Name" required>
                </v-text-field>

            </v-row>
            <v-row>
                <v-col cols="2">
                    <div class="v-label theme--light"
                        style="position: relative;top: 50%; left:50%; transform: translate(-50%, -50%);">
                        Use existing image for course icon:
                        (or)
                    </div>
                </v-col>
                <v-col>
                    <v-autocomplete no-filter label="course icon" v-model="imageURL" :rules="imageURLRules"
                        :items="imagesUrl" required>
                        <template v-slot:item="{ item }">
                            <v-img :src="item" height="40" contain></v-img>
                        </template>
                        <template v-slot:selection="{ item }">
                            <v-img :src="item" height="40" contain></v-img>
                        </template>
                    </v-autocomplete>
                </v-col>
            </v-row>
            <v-form ref="imageForm">
                <v-row>
                    <v-col cols="2">
                        <div class="v-label theme--light"
                            style="position: relative;top: 50%; left:50%; transform: translate(-50%, -50%);">
                            upload new image (optional):
                        </div>
                    </v-col>
                    <v-col>
                        <v-file-input accept="image/*" name="file" label="File input" multiple required></v-file-input>
                    </v-col>
                    <v-col>
                        <v-btn @click="uploadImage" color="success">Upload</v-btn>
                    </v-col>
                </v-row>
            </v-form>
            <v-row>
                <v-btn @click="Submit" color="success">
                    Submit
                </v-btn>
            </v-row>
        </v-container>
    </v-form>
</v-card>
{% endblock %}
{% block VueComponentScript %}
<script>
    Vue.component('app-content', {
        data: () => ({
            imagesUrl: [
                //{% for url in imagesUrl %}
                '{{ url | safe}}',
                //{% endfor %}
            ],

            courseCode: '',
            courseCodeRules: [v => !!v || 'Course code is required',
                v => (v && v.length > 3 && v.length < 101) ||
                'Course code should be anything between 4 and 100 charactors',
                v => (v && /{{regExpRules["courseCode"]}}/.test(v)) ||
                'Course code can only contains alphanumeric characters and space.'
            ],
            courseName: '',
            courseNameRules: [v => !!v || 'Course name is required',
                v => (v && v.length > 3 && v.length < 101) ||
                'Course name should be anything between 4 and 100 charactors',
                v => (v && /{{regExpRules["courseName"]}}/.test(v)) ||
                'Course name can only contains alphanumeric characters and space.'
            ],
            imageURL: '',
            imageURLRules: [],

        }),
        methods: {
            Submit() {
                if (this.$refs.control.validate()) {
                    if (this.$root.progress.show == true) {
                        this.$root.bePatientSnackBar.show = true
                        return
                    }
                    this.$root.progress.show = true
                    fetch("{{ url_for('RESTful.course.post') }}", {
                            method: 'POST',
                            cache: 'no-store',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                courseName: this.courseName,
                                imageURL: this.imageURL,
                                name: this.courseCode,
                            })
                        })
                        .then(response => {
                            try {
                                return response.json()
                            } catch {
                                this.$root.progress.show = false
                                this.$root.errorDisplay({},
                                    'Unexpected error occured.')
                            }
                        })
                        .then(body => {
                            this.$root.progress.show = false
                            this.$root.responseSnackBar(body,
                                'Creation failed for unknown reason.',
                                this.$refs.control.reset)
                        })
                }
            },
            uploadImage() {
                if (this.$refs.imageForm.validate()) {
                    if (this.$root.progress.show == true) {
                        this.$root.bePatientSnackBar.show = true
                        return
                    }
                    let formData = new FormData(this.$refs.imageForm.$el)
                    this.$root.progress.show = true
                    fetch("{{ url_for(request.blueprint+'.uploads.image') }}", {
                            method: 'POST',
                            cache: 'no-store',
                            body: formData
                        })
                        .then(response => {
                            try {
                                return response.json()
                            } catch {
                                this.$root.progress.show = false
                                this.$root.errorDisplay({},
                                    'Unexpected error occured.')
                            }
                        })
                        .then(body => {
                            this.$root.progress.show = false;
                            this.imagesUrl = this.imagesUrl.concat(body.urls)
                            this.imageURL = body.urls[0]
                            body.message = body.urls.length + ' image' + (body.urls.length > 1 ? 's' : '') +
                                ' uploaded'
                            this.$root.responseSnackBar(body,
                                'unexpected error',
                                this.$refs.imageForm.reset)

                        })
                }
            }

        },
        mounted: function () {

            (new BroadcastChannel("*-courseForm")).onmessage = (e) => {
                const {
                    message,
                    payload
                } = e.data
                console.log(e.data)
                if (message.includes("imageUploaded")) {
                    fetch("{{ url_for(request.blueprint+'.images') }}", {
                            method: 'GET',
                            cache: 'no-store',
                        })
                        .then(response => {
                            try {
                                return response.json()
                            } catch {
                                this.$root.progress.show = false
                                this.$root.errorDisplay({},
                                    'Unexpected error occured.')
                            }
                        })
                        .then(body => {
                            this.$root.progress.show = false;
                            this.imagesUrl = body
                            this.imageURL = payload[0]
                        })
                }
            }
        },
        template: '#content',
        delimiters: ['${', '}'],
    })
</script>
{% endblock %}