{% extends "layout.html" %}
{% import 'layout.html' as layout with context %}
{% block VueComponent %}
<v-card>
    <v-container>
        <v-row>
            <v-col cols="auto">
                <v-btn :href="activeTrunk?.link" style="text-transform: none;" ref="shepherd-activeVersion">
                    Active version: ${activeTrunk?.tag}
                    <v-icon right>
                        open_in_new
                    </v-icon>
                </v-btn>
            </v-col>
            <v-divider vertical></v-divider>
            <v-col cols="auto" v-if="changeAtiveTrunk">
                <v-btn :href="selectedNode?.link" :disabled="!selectedNode">
                    view option
                    <v-icon right>
                        open_in_new
                    </v-icon>
                </v-btn>
            </v-col>
            <!-- <v-col cols="auto" v-if="changeAtiveTrunk">
                <v-btn :disabled="!selectedNode || !activeTrunk"
                    :href="'{{ url_for('collegue.compare')}}' + selectedNode?.deltaGraphId + '/' + activeTrunk?.deltaGraphId">
                    preview changes
                    <v-icon right>
                        open_in_new
                    </v-icon>
                </v-btn>
            </v-col> -->
            <v-col cols="auto" v-if="changeAtiveTrunk">
                <v-autocomplete dense return-object :items="trunk" item-text="tag" item-value="deltaGraphId"
                    v-model="selectedNode">
                    <template>

                    </template>
                </v-autocomplete>
            </v-col>
            <v-col cols="auto">
                <v-btn @click="changeAtiveTrunk = !changeAtiveTrunk" v-if="!changeAtiveTrunk"
                    ref="shepherd-changeActiveVersion">
                    change active version
                </v-btn>
                <v-btn @click="setActive()" v-if="changeAtiveTrunk">
                    submit
                </v-btn>
            </v-col>
        </v-row>
        <v-row>
            <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" hide-details>
            </v-text-field>
        </v-row>
        <v-row>
            <v-data-table show-group-by :headers="headers" style="width:100%" :items="request" :items-per-page="500"
                multi-sort :search="search">
                <template v-slot:item.actions="{ item }">
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn icon v-bind="attrs" v-on="on" ref="shepherd-compare"
                                @click="newTab('{{ url_for('DLTC.trunk')}}' + item.deltaGraphId + '/' + activeTrunk.deltaGraphId)">
                                <v-icon>
                                    compare
                                </v-icon>
                            </v-btn>
                        </template>
                        preview
                    </v-tooltip>
                </template>
            </v-data-table>
        </v-row>
    </v-container>
</v-card>
{% endblock %}
{% block VueComponentScript %}
<script>
    Vue.component('app-content', {
        data: () => ({
            search: new URLSearchParams(window.location
                .search).get('concept'),
            request: [],
            headers: [{
                    text: 'tag',
                    value: 'tag',
                    groupable: false,
                },
                {
                    text: 'owner',
                    value: 'userId',
                    groupable: false,
                },
                {
                    text: '',
                    value: 'actions',
                    groupable: false,
                },
            ],
            activeTrunk: undefined,
            selectedNode: undefined,
            trunk: undefined,
            changeAtiveTrunk: false,
        }),
        methods: {
            loadData() {
                this.$root.progress.show = true
                let treePromise =
                    fetch(
                        "{{ url_for('RESTful.tree.get', courseCode = courseCode, isInstructor = True, isDLTC = False) }}", {
                            method: 'GET',
                            cache: 'no-store',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        this.request = []
                        this.trunk = []
                        if (body.edges && body.trunk_nodes && body.branch_nodes && body.workspace_nodes) {
                            body.trunk_nodes.sort(function (a, b) {
                                return new Date(b.creationDate) - new Date(a
                                    .creationDate);
                            }).forEach(node => {

                                let parent = body.trunk_nodes.filter(t => {
                                    return body.edges.filter(e => e.start == node.id &&
                                            e.end == t.id).length >
                                        0
                                })[0]
                                let trunkVersion = {
                                    tag: node.property.tag,
                                    deltaGraphId: node.property.deltaGraphId,
                                    link: parent ? "{{ url_for('collegue.compare')}}" + node
                                        .property.deltaGraphId + '/' + parent.property
                                        .deltaGraphId : "{{ url_for('collegue.graphView')}}" +
                                        node.property
                                        .deltaGraphId
                                }
                                this.trunk.push(trunkVersion)
                                if (node.isActive) this.activeTrunk = trunkVersion

                            })
                            body.branch_nodes.forEach(node => {
                                if (node.property.canPull) {
                                    this.request.push({
                                        tag: node.property.tag,
                                        userId: node.userId,
                                        deltaGraphId: node.property.deltaGraphId

                                    })
                                }

                            })


                        } else {
                            this.$root.errorDisplay(body,
                                'Unexpected error on getting versions information.')
                        }
                    })
                Promise.all([treePromise]).then(_ => {
                    this.$root.progress.show = false
                })
            },
            setActive() {
                if (this.$root.progress.show == true) {
                    this.$root.bePatientSnackBar.show = true
                    return
                }
                this.$root.progress.show = true
                fetch("{{ url_for('RESTful.trunk.patch') }}" + this.selectedNode.deltaGraphId, {
                        method: 'PATCH',
                        cache: 'no-store',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            active: true,
                        })
                    })
                    .then(response => {
                        return response.json()
                    })
                    .then(body => {
                        this.$root.progress.show = false
                        this.$root.responseSnackBar(body,
                            'Creation failed for unknown reason.',
                            () => {
                                this.loadData()
                            })
                    })
            },
            newTab(url) {
                let w = window.open(url, '_blank')
                w.onbeforeunload = () => {
                    this.loadData()
                }
            }
        },
        mounted: function () {
            self = this
            this.$root.pageIntro = () => {
                console.log(self.$refs)
                self._tour = self.$shepherd({
                    useModalOverlay: true,
                    defaultStepOptions: {
                        classes: 'shadow-md bg-purple-dark',
                        scrollTo: {
                            behavior: 'smooth',
                            block: 'center'
                        },
                        cancelIcon: {
                            enabled: true
                        },
                        canClickTarget: false,
                        buttons: [{
                            text: 'Next',
                            action: () => self._tour.next()
                        }],
                    }
                })
                if (self.$refs["shepherd-activeVersion"]) {
                    self._tour.addStep({
                        attachTo: {
                            element: self.$refs["shepherd-activeVersion"].$el,
                            on: 'bottom'
                        },
                        text: "Step 1: Click to view current version",
                    })
                }
                if (self.$refs["shepherd-compare"]) {
                    self._tour.addStep({
                        attachTo: {
                            element: self.$refs["shepherd-compare"].$el,
                            on: 'bottom'
                        },
                        text: "Step 2: Click to preview the instrcutors' versions",
                    })
                }
                if (self.$refs["shepherd-changeActiveVersion"]) {
                    self._tour.addStep({
                        attachTo: {
                            element: self.$refs["shepherd-changeActiveVersion"].$el,
                            on: 'bottom'
                        },
                        text: "Step3: Change the public version to any one",
                    })
                }

                self._tour.start();
                self._tour.on("complete", function () {
                    localStorage.setItem(
                        "{{request.endpoint}}Toured", true)
                })
            }
            this.loadData()
        },
        template: '#content',
        delimiters: ['${', '}'],
    })
</script>
{% endblock %}