{% set widgetComponentName = 'kcube-' + request.blueprint + '-userStatistic' %}
{% macro componentContent() %}
<div style="height: 100%; width: 100%;">
    <div ref="canvas" style="height: 99%; width: 99%;"></div>
</div>
{% endmacro %}
{% macro component() %}
<script type="text/x-template" id="{{widgetComponentName}}">
    {{ componentContent()}}
</script>
{% endmacro %}
{% macro script() %}
<script>
    (() => {
        widgetName = 'User Statistic'
        widgetComponentName = '{{widgetComponentName}}'
        KCube.widgetName.push(widgetName)
        KCube.widgetOptions[widgetName] = {
            widgetName: widgetName,
            component: widgetComponentName,
        }
    })();
    Vue.component(widgetComponentName, {
        data: () => ({}),
        methods: {
            loadData() {
                fetch("{{ url_for('RESTful.role.query', listUser=True) }}", {
                        method: "GET",
                        ...dashboardOption.fetchOption
                    }).then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        if (body.users) {
                            let element = this.$refs.canvas
                            this.chart = echarts.init(element);
                            let bin = body.users.reduce((bin, user) => {
                                let roles = user.roles
                                let name = roles.join(' & ')
                                let b = bin[0].filter(b => b.name == name)
                                b.length > 0 ? b[0].value++ : bin[0].push({
                                    value: 1,
                                    name: name
                                })
                                name = name + (user.user.verified ? " (verified)" : " (not verified)")
                                b = bin[1].filter(b => b.name == name)
                                b.length > 0 ? b[0].value++ : bin[1].push({
                                    value: 1,
                                    name: name,
                                    itemStyle: {
                                        color: user.user.verified ? 'lightGreen' : 'pink'
                                    },
                                })
                                return bin
                            }, [
                                [],
                                []
                            ])
                            let option = {
                                tooltip: {
                                    trigger: 'item'
                                },
                                legend: {
                                    type: 'scroll',
                                    orient: 'vertical',
                                    right: 0,
                                    data: bin[0]
                                },
                                title: [{

                                    text: 'Total # of users: ' + body.users.length,
                                    textAlign: 'center',
                                    right: '5%',
                                    bottom: '5%',
                                    textStyle: {
                                        fontSize: 15
                                    }
                                }, ],
                                series: [{
                                    type: 'pie',
                                    radius: ['20%', '55%'],
                                    center: ['30%', '50%'],
                                    avoidLabelOverlap: false,
                                    itemStyle: {
                                        borderRadius: 10,
                                        borderColor: '#fff',
                                        borderWidth: 2
                                    },
                                    label: {
                                        formatter: '{c}',
                                        position: 'inside'
                                    },
                                    emphasis: {
                                        label: {
                                            show: true,
                                            fontSize: '40',
                                            fontWeight: 'bold'
                                        }
                                    },
                                    labelLine: {
                                        show: false
                                    },
                                    data: bin[0]
                                }, {
                                    type: 'pie',
                                    radius: ['60%', '90%'],
                                    center: ['30%', '50%'],
                                    avoidLabelOverlap: false,
                                    itemStyle: {
                                        borderRadius: 10,
                                        borderColor: '#fff',
                                        borderWidth: 2
                                    },
                                    label: {
                                        formatter: '{c}',
                                        position: 'inside'
                                    },
                                    emphasis: {
                                        label: {
                                            show: true,
                                            fontSize: '40',
                                            fontWeight: 'bold'
                                        }
                                    },
                                    labelLine: {
                                        show: false
                                    },
                                    data: bin[1]
                                }]
                            };
                            this.chart.setOption(option)
                        } else {
                            this.$root.errorDisplay(body,
                                'Unexpected error on getting versions information.')
                        }
                    })

            }
        },
        template: '#' + widgetComponentName,
        delimiters: ['${', '}'],
        mounted: function () {
            new ResizeObserver(() => {
                if (this.chart) this.chart.resize()
            }).observe(this.$el)
            this.loadData()
        },
    })
</script>
{% endmacro %}
{{ component() }}
{{ script() }}