{% extends "layout.html" %}
{% import 'layout.html' as layout with context %}
{% block VueComponent %}
<v-card>
    <v-form ref="formControl">
        <v-container>
            <v-row v-if="hash == null">
                <v-col>
                    <v-text-field v-model="oldPassword" type="password" :rules="oldPasswordRules" label="password"
                        required>
                    </v-text-field>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <v-text-field v-model="newPassword" type="password" :rules="newPasswordRules" label="new password"
                        required>
                    </v-text-field>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <v-text-field v-model="newPassword2" type="password"
                        :rules="[v => !!v || 'Password is required', (newPassword === newPassword2) || 'Two password are different']"
                        label="confirm new password" required>
                    </v-text-field>
                </v-col>
            </v-row>
            <v-row>
                <v-col v-if="hash == null">
                    <span @click="forgotPassword()">forgot password</span>
                </v-col>
                <v-col></v-col>
                <v-col cols='1'>
                    <v-btn color="success" @click="update()">update</v-btn>
                </v-col>
            </v-row>
        </v-container>
    </v-form>
</v-card>
{% endblock %}
{% block VueComponentScript %}
<script>
    Vue.component('app-content', {
        data: () => ({
            userId: new URLSearchParams(window.location
                .search).get('userId'),
            hash: new URLSearchParams(window.location
                .search).get('hash'),
            oldPassword: undefined,
            oldPasswordRules: [
                v => !!v || 'Password is required',
            ],
            newPassword: '',
            newPasswordRules: [
                v => !!v || 'Password is required',
            ],
            newPassword2: '',
        }),
        methods: {
            update() {
                if (this.$refs.formControl.validate()) {
                    if (this.$root.progress.show == true) {
                        this.$root.bePatientSnackBar.show = true
                        return
                    }
                    this.$root.progress.show = true
                    body = {}
                    if (this.userId) body.userId = this.userId
                    if (this.hash) body.hash = this.hash
                    if (this.oldPassword) body.oldPassword = this.oldPassword
                    body.newPassword = this.newPassword
                    fetch("{{ url_for('user.patchPassword') }}", {
                        method: 'PATCH',
                        cache: 'no-store',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(body)
                    })
                        .then(response => {
                            try {
                                return response.json()
                            } catch {
                                this.$root.progress.show = false
                                this.$root.errorDisplay({},
                                    'Unexpected error occured.')
                            }
                        })
                        .then(body => {
                            this.$root.progress.show = false
                            this.$root.responseSnackBar(body, 'Update failed for unknown reason.',
                                () => { this.$refs.formControl.reset() })
                        })
                }
            },
            forgotPassword() {
                if (this.$root.progress.show == true) {
                    this.$root.bePatientSnackBar.show = true
                    return
                }
                this.$root.progress.show = true
                fetch("{{ url_for('user.forgotPassword') }}", {
                    method: 'POST',
                    cache: 'no-store',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({

                    })
                })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        this.$root.progress.show = false
                        this.$root.responseSnackBar(body, 'Request failed for unknown reason.')
                    })

            },
        },
        template: '#content',
        delimiters: ['${', '}'],
    })
</script>
{% endblock %}