{% macro component() %}
<script type="text/x-template" id="kcube-schedule-item">
    {{ componentContent()}}
</script>
{% endmacro %}
{% macro componentContent() %}
<v-badge :icon="deck?null:node.syncError?'sync_problem':'sync'" :content="deck?node.numItem:null"
    :value="(deck) || (node.notSync && !root)" :color="node.syncError?'error':'primary'"
    v-ripple="!root?{ class: 'primary--text' }:null" style="padding: unset; float:left; margin:5px 8px">
    <v-card v-bind:id="'entity:'+node.name" :key="node.name" @dragleave="showAction=false"
        @contextmenu.stop="!root?$emit('showDetails',[$event,node]):null">
        <v-list-item v-if="!root" v-show="!showAction || deck"
            @dragover="showAction = (dragging || weeks.length>0)?false:true" @mouseenter="hovering = true"
            @mouseleave="hovering = false">
            {% if request.blueprint == "instructor" %}
            <v-icon small class="handle" draggable="true" @dragend="dragging=false" @dragstart="dragging=true">
                drag_indicator</v-icon>
            {% endif %}
            <v-text-field background-color="transparent" dense hide-details flat solo v-model="node.desc"
                @change="node.notSync=true;patchEntity(node, node.week)"
                :readonly="{{'false' if request.blueprint == 'instructor' else'true'}}"></v-text-field>
            {% if request.blueprint == "instructor" or request.blueprint == "DLTC"  %}
            <v-list-item-action style="margin: unset" v-show="hovering && !dragging && !deck">
                <v-btn icon x-small @click="climb(-1)" v-show="node.week > 1">
                    <v-icon x-small>arrow_drop_up</v-icon>
                </v-btn>
                <v-btn icon x-small @click="climb(1)" v-show="node.week < weekInSemester">
                    <v-icon x-small>arrow_drop_down</v-icon>
                </v-btn>
            </v-list-item-action>
            {% endif %}
        </v-list-item>
        <v-list-item v-if="!root && weeks.length == 0 && node.schedule[node.week]?.length == 0"
            v-show="showAction && !deck" @drop="showAction=false">
            <v-chip x-small style="position: absolute; top:0; transform: translateY(-50%)">${node.desc}</v-chip>
            <v-row no-gutters>
                <v-col style="align-items: center;display: flex;">
                    <v-icon small>add</v-icon>
                </v-col>
                <v-col>
                    <draggable v-model="node.schedule[node.week]" :key="keys[node.week]"
                        :group="{name:'schedule', put: true}" handle=".handle" @add="add($event, node.week)"
                        @change="render($event); showAction=false"
                        style="height: 100%; background: content-box grey; width: 186px" animation="300"
                        @dragover="showAction = dragging?false:true" swapThreshold="0.6">
                    </draggable>
                </v-col>
                <v-col style="align-items: center;display: flex;">
                    <v-icon small style="color:transparent">add</v-icon>
                </v-col>
            </v-row>
        </v-list-item>
        <div style="padding: 5px;" v-show="weeks.length>0 && !deck">
            <v-row v-for="week in weeks"
                v-show="(!root || node.schedule[week]?.length > 0 || week == weeks[0]) && !dragging" no-gutters>
                <v-col cols="auto">
                    <v-list-item style="padding:unset; width:50px" dense>week ${week}
                        ${spans[week] > week?(' - week ' + spans[week]) :''}
                    </v-list-item>
                </v-col>
                <v-col>
                    <draggable v-model="node.schedule[week]" :key="keys[week]" :group="{name:' schedule', put: true}"
                        handle=".handle" @add="add($event, week)" @change="render($event)"
                        @dragover="showAction = dragging?false:true"
                        style="height: 100%; background: content-box grey; min-width: 5vw;" animation="300"
                        swapThreshold="0.2">
                        <kcube-schedule-item ref="children" v-for="child of node.schedule[week]" :node="child"
                            @showDetails="$emit('showDetails',$event)" @countNotSync="$emit('countNotSync',$event)"
                            @exclusiveHeadTriple="$emit('exclusiveHeadTriple',$event)" @spanChanged="render()">
                        </kcube-schedule-item>
                    </draggable>
                </v-col>
            </v-row>
        </div>
    </v-card>
</v-badge>
{% endmacro %}
{% macro script() %}
<script>
    function serializeScheduleItemNode(node) {
        return JSON.parse(JSON.stringify(node, function (k, v) {
            if (!k.startsWith("_") && k != "parent")
                return v;
        }))
    }
    Vue.component('kcube-schedule-item', {
        props: {
            deck: {
                type: Boolean
            },
            node: {
                type: Object,
                required: true
            },
            root: Boolean
        },
        watch: {
            node: function (newVal, oldVal) {
                this.node._vue = this
                this.render()
            },
        },
        data: () => ({
            editor_bc: new BroadcastChannel("{{courseCode}}-{{request.blueprint}}-editor"),
            parentHovered: false,
            showAction: false,
            dragging: false,
            hovering: false,
            weekInSemester: weekInSemester,
            weeks: [],
            spans: {},
            keys: {}
        }),
        methods: {
            // {% if request.blueprint == "instructor" or request.blueprint == "DLTC" %}
            add(event, week) {
                let entity = this.node.schedule[week][event.newIndex]
                this.patchEntity(entity, week)
            },
            patchEntity(entity, week) {
                let promises = []
                if (entity.notSync || entity.week != week) {
                    entity.week = week
                    body = {
                        desc: entity.desc,
                        week: entity.week,
                        //{% if request.blueprint == "DLTC" %}
                        DLTC: true
                        //{% endif %}
                    }
                    promises.push(fetch(
                            "{{url_for('RESTful.activity.post', courseCode = courseCode) | safe}}" +
                            encodeURIComponent(
                                entity.name), {
                                method: 'POST',
                                cache: 'no-store',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(body)
                            })
                        .then(response => {
                            try {
                                return response.json()
                            } catch {
                                this.$root.progress.show = false
                                this.$root.errorDisplay({},
                                    'Unexpected error occured.')
                            }
                        })
                        .then(body => {
                            this.$root.progress.show = false
                            if (body.activity) {
                                let {
                                    _vue,
                                    parent,
                                    children,
                                    schedule,
                                    ...orphan
                                } = entity
                                _vue.editor_bc.postMessage({
                                    message: 'scheduleItem-activityUpdate-' + orphan.name,
                                    payload: orphan
                                }, '*')
                                return {
                                    request: "activity",
                                    espond: body.activity
                                }
                            } else {
                                this.$root.errorDisplay(body,
                                    'Unexpected error on setting courses plan information.')
                                throw ''
                            }
                        }))
                }
                if (entity.parent === undefined || (entity.parent && this.node.name != entity.parent.name &&
                        this.node.name != entity.name)) {
                    if (workspaceDeltagraphId)
                        promises.push(fetch("{{ url_for('RESTful.triple.put') }}" + workspaceDeltagraphId, {
                                method: 'PUT',
                                cache: 'no-store',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    h_name: entity.name,
                                    r_name: tree_edge_name,
                                    t_name: this.node.name,
                                    r_value: true,
                                    exclusive_head: true,
                                })
                            })
                            .then(response => {
                                try {
                                    return response.json()
                                } catch {
                                    this.$root.progress.show = false
                                    this.$root.errorDisplay({},
                                        'Unexpected error occured.')
                                }
                            })
                            .then(body => {
                                if (body.triple) {
                                    if (entity.parent) {
                                        let oldParent = entity.parent
                                        console.log(oldParent)
                                        oldParent._vue.editor_bc.postMessage({
                                            message: 'scheduleItem-scheduleUpdate-' + oldParent
                                                .name,
                                            payload: serializeScheduleItemNode(oldParent)
                                        }, '*')
                                    }
                                    this.editor_bc.postMessage({
                                        message: 'scheduleItem-scheduleUpdate-' + this.node.name,
                                        payload: serializeScheduleItemNode(this.node)
                                    }, '*')
                                    entity.parent = this.node
                                    this.editor_bc.postMessage({
                                        message: 'coursePlan-exclusiveHeadTriple',
                                        payload: body.triple,
                                        workspaceDeltagraphId: workspaceDeltagraphId
                                    }, '*')
                                    return {
                                        request: "triple",
                                        espond: body.triple
                                    }
                                } else {
                                    this.$root.errorDisplay(body,
                                        'Unexpected error when deleted triple.')
                                    throw ''
                                }
                            }))
                }
                if (promises.length > 0) {
                    entity.notSync = true
                    entity._vue.$forceUpdate()
                }
                return Promise.all(promises).then(data => {
                    entity.notSync = false
                    let request = data.map(r => r.request)
                    if (!request.includes("triple") && request.includes("activity")) {
                        let {
                            _vue,
                            parent,
                            children,
                            schedule,
                            ...orphan
                        } = entity
                        this.editor_bc.postMessage({
                            message: 'scheduleItem-itemClimbed-' + this.node.name,
                            payload: orphan
                        }, '*')
                    }
                    this.$emit('countNotSync', {
                        scroll: false
                    })

                }).catch((reason) => {
                    entity.syncError = true
                    this.$emit('countNotSync', {
                        scroll: true
                    })
                    throw reason
                }).finally(() => {
                    entity._vue.$forceUpdate()
                })
            },
            climb(offset) {
                console.log(this.node.parent)
                let newWeek = this.node.week + offset
                if (newWeek > 0 && newWeek <= weekInSemester) {
                    let {
                        _vue,
                        parent,
                        children,
                        schedule,
                        ...orphan
                    } = this.node
                    orphan.week = newWeek
                    this.node.parent._vue.updateActivity(orphan, true, this.node, )
                }
            },
            updateActivity(activity, needPatch = false, foundChild = undefined) {
                console.log(foundChild)
                console.log(this.node)
                if (!foundChild) {
                    foundChild = flattenSchedule(this.node.schedule).filter(node => node.name == activity.name)[
                        0]
                }
                let oldWeek = foundChild.week
                let newWeek = Number(activity.week)
                manipulateAndHighlight = () => {
                    let index = this.node.schedule[oldWeek].findIndex(sibling => sibling.name == foundChild
                        .name)
                    this.node.schedule[oldWeek].splice(index, 1)
                    if (!(newWeek in this.node.schedule)) this.node.schedule[newWeek] = []
                    this.node.schedule[newWeek].push(foundChild)
                    this.render()
                    setTimeout(() => {
                        let el = foundChild._vue.$el
                        el.scrollIntoView({
                            behavior: "smooth",
                            block: "center"
                        })
                        let ev = new Event("mousedown")
                        let offset = el.getBoundingClientRect()
                        ev.clientX = offset.left + 1
                        ev.clientY = offset.top + 1
                        el.dispatchEvent(ev)
                        this.$nextTick(function () {
                            el.dispatchEvent(new Event("mouseup"))
                        })
                    }, 500)
                }
                if (needPatch) {
                    foundChild.notSync = foundChild.desc == activity.desc
                    foundChild.desc = activity.desc
                    this.patchEntity(foundChild, newWeek).then(result => {
                        manipulateAndHighlight()
                    })
                } else {
                    foundChild.week = newWeek
                    foundChild.desc = activity.desc
                    manipulateAndHighlight()
                }
            },
            sync(target = null) {
                if (target != null) {
                    if (target.name == this.node.name) {
                        this.sync()
                    } else {
                        if (this.$refs.children)
                            this.$refs.children.forEach(child => child.sync(target))
                    }
                } else {
                    if (this.node.notSync) {
                        this.patchEntity(this.node, this.node.week)
                    }
                }
            },
            //{% endif %}
            render(event = null) {
                if (this.node.schedule) {
                    let oldSpanMin = Math.min(...this.weeks, ...Object.values(this.spans))
                    let oldSpanMax = Math.max(...this.weeks, ...Object.values(this.spans))
                    this.weeks = []
                    this.spans = {}
                    let week = Object.keys(this.node.schedule).filter(week => this.node.schedule[week].length >
                        0).map(week => Number(week))
                    if (week.length > 0) {
                        let max = Math.max(...week)
                        let min = Math.min(...week)
                        this.weeks = [...Array(max - min + 1).keys()].map(week => week + min)
                    }
                    this.keys = {}
                    for (const week of this.weeks) {
                        this.keys[week] = week + ';'
                        if (this.node.schedule[week] && this.node.schedule[week].length > 0) {
                            this.keys[week] += this.node.schedule[week].map(node => node.name).join(';')
                            this.spans[week] = Math.max(...flattenListOfNode(this.node.schedule[week]).map(n =>
                                n.week).filter(w => Number.isInteger(w)))
                        } else {
                            if (!(week in this.node.schedule)) this.node.schedule[week] = []
                        }
                    }
                    if (!(this.node.week in this.node.schedule)) this.node.schedule[this.node.week] = []
                    if (this.root && this.weeks.length == 0) this.weeks = [this.node.week]
                    if (oldSpanMin != Math.min(...this.weeks, ...Object.values(this.spans)) || oldSpanMax !=
                        Math.max(...this.weeks, ...Object.values(this.spans)))
                        this.$emit('spanChanged')
                }
            },
        },
        mounted: function () {
            this.node._vue = this
            this.render()
            this.editor_bc.onmessage = (e) => {
                if (e.data) {
                    const {
                        message,
                        payload
                    } = e.data
                    if (message == "scheduleItem-itemClimbed-" + this.node.name) {
                        console.log("scheduleItem-itemClimbed-", this.node.name)
                        this.node._vue.updateActivity(payload, false)
                    } else if (message == "entityEditor-activity-" + this.node.name) {
                        console.log("entityEditor-activity-", this.node.name)
                        this.node.parent._vue.updateActivity(payload, false, this.node)
                    } else if (message == "scheduleItem-scheduleUpdate-" + this.node.name) {
                        function adoptChild(node) {
                            for (let week in node.schedule) {
                                node.schedule[week].forEach(child => {
                                    child.parent = node
                                    child.notSync = false
                                    adoptChild(child)
                                })
                            }
                        }
                        this.node.schedule = payload.schedule
                        adoptChild(this.node)
                        console.log("scheduleUpdate", this.node.name, this.node)
                        this.$forceUpdate()
                        this.render()
                    }
                }
            }
        },
        template: '#kcube-schedule-item',
        delimiters: ['${', '}'],
    })
</script>
{% endmacro %}