{% extends "layout.html" %}
{% import 'layout.html' as layout with context %}
{% block VueComponent %}
<v-container style="height: 100%;">
    <v-row>
        <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" hide-details>
        </v-text-field>
    </v-row>
    <v-row>
        <v-data-table show-group-by :headers="headers" style="width:100%" :items="graphs" :items-per-page="500"
            multi-sort :search="search">
            <template v-slot:item.userId="{ item }">
                ${item.userId == null ? 'department' : item.userId}
            </template>
            <template v-slot:item.actions="{ item }">
                <v-icon
                    @click="newTab('{{ url_for('courseGraph') }}' + item.course.name + (item.userId != null ? '/' + item.userId: ''))">
                    open_in_new
                </v-icon>
            </template>
        </v-data-table>
    </v-row>
</v-container>
{% endblock %}
{% block VueComponentScript %}
<script>
    Vue.component('app-content', {
        data: () => ({
            search: new URLSearchParams(window.location
                .search).get('search'),
            graphs: [],
            headers: [{
                    text: 'Course Name',
                    value: 'course.courseName',
                },
                {
                    text: 'Course Id',
                    value: 'course.name',
                    groupable: false,
                },
                {
                    text: 'Instructor',
                    value: 'userId',
                },
                {
                    text: 'Open in new tab',
                    value: 'actions',
                    groupable: false,
                },
            ],
        }),
        methods: {
            loadData() {
                this.$root.progress.show = true
                let entityGraphPromise = fetch(
                        "{{ url_for('RESTful.entity.query', name = name) | safe}}", {
                            method: 'GET',
                            cache: 'no-store',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                        })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        this.graphs = body.graphs
                    })
                Promise.all([entityGraphPromise]).then(_ => {
                    this.$root.progress.show = false
                })
            },
            newTab(url) {
                let w = window.open(url, '_blank')
            },
        },
        mounted: function () {
            self = this
            window.onmessage = function (e) {
                console.log(e)
                self.search = e.data
            };
            this.loadData()
        },
        template: '#content',
        delimiters: ['${', '}'],
    })
</script>
{% endblock %}