{% extends "layout.html" %}
{% import 'layout.html' as layout with context %}
{% block VueComponent %}
<v-card style="height: 100%; width: 100%;">
    <v-container style="height: 100%; width: 100%;">
        <v-row style="height: 20%;">
            <v-col></v-col>
            <v-col cols="auto">
                <v-card elevation="5" style="background-color: rgba(255,255,255,0.75);">
                    <v-container no-gutters>
                        <v-row no-gutters>
                            <v-col>
                                <v-autocomplete hide-details hide-no-data ref="searchBar" dense style="width: 100%"
                                    append-icon="" :menu-props="{ ...(!search && {value:false}) }"
                                    :search-input.sync="search" label="bring me to ...(course code / course name)"
                                    clearable :items="items" item-text="text" item-value="value"
                                    @change="gotoPage($event)">
                                </v-autocomplete>
                            </v-col>

                        </v-row>
                        <v-row>
                            <v-subheader>Recent visit</v-subheader>
                            <v-chip-group>
                                <v-chip label v-for="(url, name) in visitedCourseGraph" :href="url">
                                    ${name.split("_")[0] + " from " + (name.split("_").slice(1).join('_') == "None"?
                                    'department':name.split("_").slice(1).join('_'))}
                                </v-chip>
                            </v-chip-group>
                        </v-row>
                    </v-container>
                </v-card>
            </v-col>
            <v-col></v-col>
        </v-row>
        <v-row style="height: 80%;">
            <div id="cy" style="height: 99%; width: 99%;"></div>
        </v-row>
    </v-container>
    <v-bottom-sheet style="text-align: center;" :retain-focus="false" hide-overlay persistent inset no-click-animation
        :value="url">
        <v-btn color="success" style="text-transform: none;" x-large block :href="url">
            ${url?'Proceed to ' + url.split('/').reverse()[0] + '\'s page':''}</v-btn>
    </v-bottom-sheet>
    <v-snackbar style="z-index:0; bottom:10vh" right :color="edgeColor" v-model="focusingEdge" timeout="-1">
        <v-row no-gutters>
            <v-col cols="auto">
                <v-btn color="primary" style="text-transform: none;" @click="focus(edgeSource)">${edgeSource}</v-btn>
            </v-col>
            <v-col style="text-align: center">
                <v-btn style="pointer-events: none" text>${edgeTag}</v-btn>
            </v-col>
            <v-col cols="auto">
                <v-btn color="primary" style="text-transform: none;" @click="focus(edgeEnd)">${edgeEnd}</v-btn>
            </v-col>
        </v-row>
    </v-snackbar>
</v-card>
{% endblock %}
{% block VueComponentScript %}
{{ layout.cytoscapeCDN() }}
<script src="https://unpkg.com/klayjs@0.4.1/klay.js"></script>
<script src="https://cdn.jsdelivr.net/npm/cytoscape-klay@3.1.4/cytoscape-klay.min.js"></script>
<script>
    cy = cytoscape({
        style: [{
                selector: 'core',
                style: {
                    "active-bg-size": 0
                }
            },
            {
                selector: 'node',
                style: {
                    'width': 135,
                    'height': 135,
                    'background-color': 'white',
                    'border-width': 1,
                    'border-color': 'grey',
                    'text-wrap': 'wrap',
                    'text-max-width': 60,
                    'line-height': 1.5,
                    'label': 'data(label)',
                    'text-outline-color': 'white',
                    'text-outline-width': 2,
                    'font-size': 35,
                    'background-image': 'data(imageURL)',
                    'background-fit': 'cover'

                }
            }, {
                selector: 'node:selected',
                style: {
                    'background-color': 'white',
                    'border-width': 3,

                }
            }, {
                selector: 'edge',
                style: {
                    'width': 4,
                    'line-color': 'grey',
                    'curve-style': 'bezier',
                    'z-index': 100,
                }
            },
            {
                selector: 'edge.irrelevant',
                style: {
                    'opacity': 0.25
                }
            }, {
                selector: 'edge.relevant',
                style: {}
            }, {
                selector: 'edge:selected',
                style: {
                    'width': 8,
                    'underlay-color': "data(color)",
                    'underlay-padding': 2.75,
                    'underlay-opacity': 1,
                    'opacity': 1,
                }
            },
            {
                selector: 'edge.pad',
                style: {
                    'width': 2,
                    'opacity': 0.25,
                    'z-index': 0,
                    'overlay-opacity': 0,
                    'underlay-padding': 0,
                    'underlay-opacity': 0,
                }
            }, {
                selector: 'node:parent',
                style: {
                    'label': ''
                }
            },
        ],
        userZoomingEnabled: false,
        userPanningEnabled: false,
        boxSelectionEnabled: false,


    })

    function nodeFactory(data, classes) {
        let output = {
            group: 'nodes',
            data: data,
            classes: classes,
            grabbable: false,
            pannable: false,
        }
        return output
    }

    function edgeFactory(edge) {
        let output = {
            group: 'edges',
            data: {
                source: edge.start,
                target: edge.end,
                color: edge.color,
            },
            classes: edge.classes,
        }
        return output

    }
    var focusedNode = null
    var animation = null
    var duration = null
    Vue.component('app-content', {
        data: () => ({
            url: null,
            focusingNode: false,
            focusingEdge: false,
            edgeSource: "",
            edgeTag: "",
            edgeEnd: "",
            edgeColor: "",
            search: "",
            items: [],
            visitedCourseGraph: JSON.parse(localStorage.getItem('visitedCourseGraph'))
        }),
        methods: {
            loadData() {
                this.$root.progress.show = true
                let coursePromise = fetch(
                        "{{ url_for('RESTful.course.query', list=True) }}", {
                            method: 'GET',
                            cache: 'no-store',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        this.$root.progress.show = false
                        this.items = []
                        var x, y, level;
                        if (body.courses) {
                            body.courses.sort((a, b) => {
                                if (a.concept.name < b.concept.name) {
                                    return -1;
                                }
                                if (a.concept.name > b.concept.name) {
                                    return 1;
                                }
                                return 0;
                            }).forEach(c => {
                                this.items.push({
                                    text: c.concept.name,
                                    value: c.concept.name
                                })
                                this.items.push({
                                    text: c.course.courseName,
                                    value: c.course.courseName
                                })
                                if (level != c.concept.name[4]) {
                                    y++
                                    x = 0
                                }
                                level = c.concept.name[4]
                                if (cy.getElementById(level).length == 0) {
                                    cy.add({
                                        group: 'nodes',
                                        data: {
                                            id: level
                                        }
                                    })
                                }
                                cy.add(nodeFactory({
                                        id: c.concept.name,
                                        tag: c.course.courseName,
                                        parent: level
                                    }, ["course"])).data(
                                        'imageURL',
                                        c.course.imageURL,
                                    ).data("url", "{{ url_for('course')}}" + encodeURIComponent(c
                                        .concept.name))
                                    .data("label", c.concept.name)
                                    .data("row", y).data("col", x)
                                x++

                            })
                            cy.elements().style('visibility', 'hidden')
                        } else {
                            this.$root.errorDisplay(body,
                                'Unexpected error on getting courses information.')
                        }
                    })
                let relationshipPromise = fetch("{{ url_for('RESTful.metagraph.query', triples=True) }}", {
                        method: 'GET',
                        cache: 'no-store',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                    })
                    .then(response => {
                        return response.json()
                    })
                    .then(body => {
                        if (body.triples) {
                            return body
                        } else {
                            this.$root.errorDisplay(body,
                                'Unexpected error on getting relationship information.')
                        }
                    })
                Promise.all([coursePromise, relationshipPromise]).then(bodies => {
                    let relationship = [...new Set(bodies[1].triples.map(t => t.r_name))]
                    let colorMap = [
                        [0.1216, 0.4667, 0.5059],
                        [1.0, 0.498, 0.0549],
                        [0.1725, 0.6275, 0.1725],
                        [0.8392, 0.1529, 0.1569],
                        [0.5804, 0.4039, 0.7412],
                        [0.549, 0.3373, 0.2941],
                        [0.8902, 0.4667, 0.7608],
                        [0.498, 0.498, 0.498],
                        [0.7373, 0.7412, 0.1333],
                        [0.0902, 0.7451, 0.8118]
                    ].map(rgb => rgb.map(c => Math.floor(c * 255))).map(rgb => "rgb(" + rgb.join(
                        ',') + ")")
                    bodies[1].triples.forEach(triple => {
                        let bothCourseExists = true
                        for (let name of [triple.h_name, triple.t_name]) {
                            if (cy.getElementById(name).length == 0) {
                                bothCourseExists = false
                                break
                            }
                        }
                        if (!bothCourseExists) return
                        let color = colorMap[relationship.indexOf(triple.r_name) % colorMap
                            .length]
                        cy.add(edgeFactory({
                            start: triple.h_name,
                            end: triple.t_name,
                            color: color,
                            classes: [triple.r_name]
                        })).data("tag", triple.r_name).style("line-color", color)
                    })

                    cy.elements().style('visibility', 'hidden')
                    let cyLayout = cy.layout({
                        nodeDimensionsIncludeLabels: true,
                        name: 'klay',
                        fit: true,
                        klay: {
                            compactComponents: true,
                            direction: 'DOWN',
                            layoutHierarchy: true,
                            nodePlacement: "INTERACTIVE",
                            spacing: 5
                        }
                    })
                    cyLayout.one('layoutstop', () => {
                        cy.elements().style('visibility', 'visible')
                    })
                    cyLayout.run()
                    this.$root.progress.show = false
                })
            },
            newTab(url) {
                let w = window.open(url, '_blank')
            },
            focus(id) {
                if (id) {
                    let node = cy.getElementById(id)
                    focusedNode = node.length > 0 ? node : cy.nodes('node[tag="' + id + '"]')
                    this.focusingNode = true
                    this.url = focusedNode.data("url")
                }
            },
            gotoPage(id) {
                if (id) {
                    let node = cy.getElementById(id)
                    focusedNode = node.length > 0 ? node : cy.nodes('node[tag="' + id + '"]')
                    location.href = focusedNode.data("url")

                }
            },
            backToFocusedNode() {
                if (focusedNode) this.focus(focusedNode.data("id"), 500)

            },
            setZoom(value) {
                this.zoom = this.zoom + value
                this.zoom = Math.min(this.zoom, 1)
                this.zoom = Math.max(this.zoom, -1)
                this.focus(focusedNode ? focusedNode.data('id') : null, 200)
            }
        },
        mounted: function () {
            cy.mount(document.getElementById("cy"))
            self = this
            cy.on('tap', 'node', (event) => {
                if (event.target == event.cy) return
                // if (event.target.classes().includes("pad")) return
                if (!focusedNode || event.target[0].data('id') != focusedNode.data('id')) {
                    this.gotoPage(event.target[0].data('id'))
                    this.focusingEdge = false
                }
            })
            cy.on('select', 'edge', (event) => {
                if (event.target == event.cy || event.target.length < 1 || cy.animated()) return
                let edge = event.target[0]
                if (edge.classes().includes("pad")) return
                this.edgeSource = edge.source().data("id")
                this.edgeEnd = edge.target().data("id")
                this.edgeTag = edge.data("tag")
                this.edgeColor = edge.data("color")
                this.focusingEdge = true
            })

            cy.on('tap', (event) => {
                if (event.target == event.cy) {
                    cy.edges().removeClass('irrelevant')
                    this.focusingEdge = false

                }
            })
            cy.on('unselect', 'edge', (event) => {
                if (event.target == event.cy || event.target.length < 1 || cy.animated()) return
                this.focusingEdge = false
            })
            this.loadData()
            scroll = (delta) => {


            }

        },
        template: '#content',
        delimiters: ['${', '}'],
    })
</script>
{% endblock %}